<ion-header>
	<ion-toolbar>
		<ion-title>Enviar Reporte</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="confirm()"
				[strong]="true">Enviar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<div class="p-2.5 w-full h-full max-w-xs mx-auto flex flex-col gap-2">
		<div>
			Reporte realizado por: {{fromEmail.value}}
		</div>
		<div>
			Reporte el correo: {{toEmail.value}}
		</div>
		<app-input-area #area
			label="Mensaje de reporte"
			placeholder="..."></app-input-area>
	</div>

</ion-content>
