<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="p-2.5 w-full h-full max-w-xs mx-auto flex flex-col ">
    <app-input-text label="password" placeholder="Nueva password" type="password"></app-input-text>
    <app-input-text label="password" placeholder="Confirma tu password" type="password"></app-input-text>
   <app-filled-button contentText="Restablecer"></app-filled-button>
  </div>

</ion-content>
