<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
		<ion-title>Recuperar Contraseña</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Recuperar Contraseña</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="p-2.5 w-full h-full max-w-xs mx-auto flex flex-col gap-3 justify-between">
		<div class="flex flex-col gap-3">
			<form
				class="flex flex-col gap-6">
				<app-input-text #user
					placeholder="Email"
					[type]="'email'"></app-input-text>
			</form>
		</div>
		<app-filled-button (onClick)="buttonClick()"
			class="my-5"
			contentText="Restablecer"></app-filled-button>
	</div>
</ion-content>
