<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="trip-history" ></ion-back-button>
    </ion-buttons>
    <ion-title>Trip Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-evenly my-2">
    <app-adaptative-button text_color="text-white" color="bg-green-500" color_hover="bg-green-600" text="Success" size="p-1" font_size="text-sm"></app-adaptative-button>
    <app-adaptative-button text_color="text-white" color="bg-green-500" color_hover="bg-green-600" text="Success" size="p-1" font_size="text-sm"></app-adaptative-button>
    <app-adaptative-button text_color="text-white" color="bg-green-500" color_hover="bg-green-600" text="Success" size="p-1" font_size="text-sm"></app-adaptative-button>
    <app-adaptative-button text_color="text-white" color="bg-green-500" color_hover="bg-green-600" text="Success" size="p-1" font_size="text-sm"></app-adaptative-button>
  </div>
<!--  <app-adaptative-button text_color="text-white" color="bg-green-500" color_hover="bg-green-600" text="Success" size="px-4 py-2" font_size="text-xl"></app-adaptative-button>-->
</ion-content>
