<ion-header [translucent]="true">
	<ion-toolbar>
		<div class="flex w-full items-center">
			<ion-buttons slot="start">
				<ion-back-button [defaultHref]="prevHref"></ion-back-button>
			</ion-buttons>
			<ion-title>Trip Details</ion-title>
		</div>
		<div *ngIf="trip !== null" class="flex flex-col gap-4">
			<div class="flex flex-col gap-6 px-5 ">
				<div class="flex">
					<div class="basis-1/2">Fecha</div>
					<div class="basis-1/2">{{ trip.startDate | date:'ccc dd MMMM - HH:mm ' }}</div>
				</div>
				<div class="flex">
					<div class="basis-1/2">Estado</div>
					<div class="basis-1/2">{{ trip.state }}</div>
				</div>
				<div class="flex">
					<div class="basis-1/2">Conductor</div>
					<div class="basis-1/2">{{ trip.driver.passenger.name.value }}</div>
				</div>
				<div class="flex">
					<div class="basis-1/2">Inicio</div>
					<div class="basis-1/2">{{trip.startLocation.name.value | parseLocationName}}</div>
				</div>
				<div class="flex">
					<div class="basis-1/2">Direccion Fin</div>
					<div class="basis-1/2">{{trip.endLocation.name.value}}</div>
				</div>
				<div class="flex justify-center gap-4">
					<app-adaptative-button text_color="text-white"
						color="bg-stone-800"
						color_hover="bg-stone-800"
						text="Reportar"
						size="py-2.5 px-3"
						font_size="text-sm"></app-adaptative-button>
					<app-adaptative-button text_color="text-white"
						color="bg-stone-800"
						color_hover="bg-stone-700"
						text="Compartir"
						size="py-2.5 px-3"
						font_size="text-sm"></app-adaptative-button>
					<app-adaptative-button text_color="text-white"
						[routerLink]="['/chat']"
						color="bg-stone-800"
						color_hover="bg-stone-800"
						text="Chat"
						size="py-2.5 px-3"
						font_size="text-sm"></app-adaptative-button>
					<app-adaptative-button text_color="text-white"
						color="bg-stone-800"
						color_hover="bg-stone-800"
						text="Solicitar"
						size="py-2.5 px-3"
						font_size="text-sm"></app-adaptative-button>
				</div>
				<div class="flex flex-col">
					<div>Pasajeros</div>
					<app-divider></app-divider>
					<div class="flex flex-col gap-4">
						<app-item-list></app-item-list>
					</div>
					<div class="h-4"></div>
				</div>
			</div>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div id="dmap"
		#dmap
		class="map"
		tabindex="0"></div>
</ion-content>
