<div class="my-2 flex justify-center items-center gap-2">
	<div class="w-1/4 h-px bg-indigoBlack-500"></div>
	<app-stepper-item [currentStep]="currentStep"
		[maxStep]="maxStep"
		[step]="1"></app-stepper-item>
	<div class="w-1/4 h-px bg-indigoBlack-500"></div>
	<app-stepper-item [currentStep]="currentStep"
		[maxStep]="maxStep"
		[step]="2"></app-stepper-item>
	<div class="w-1/4 h-px bg-indigoBlack-500"></div>
	<app-stepper-item [currentStep]="currentStep"
		[maxStep]="maxStep"
		[step]="3"></app-stepper-item>
	<div class="w-1/4 h-px bg-indigoBlack-500"></div>
</div>
