<div class="bg-gray-400 h-full w-full flex items-center">
  <div class="m-2 w-full">
    <div class="bg-white h-full focus:z-[3] focus:text-neutral-700 focus:outline-none focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] rounded-br-md rounded-tr-md border rounded-bl-md rounded-tl-md border-solid border-neutral-300 focus:border-primary relative flex w-full flex-wrap items-center">
      <input
        type="text"
        class="m-0 pl-3 block w-[1px] min-w-0 flex-auto bg-transparent bg-clip-padding py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out"
      />
      <ion-icon
        (click)="send($event)"
        class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-4 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
        name="send-outline"></ion-icon>
    </div>
  </div>
</div>
