<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button color="medium"
				(click)="cancel()">Vaciar
			</ion-button>
		</ion-buttons>
		<ion-title>Seleccion Multiple</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="confirm()"
				[strong]="true">Continuar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ul class="w-full">
		<li *ngFor="let pref of dataList; index as i">
			<app-multiple-selector-item
				[selected]="pref.selected"
				(onSelected)="onSelectItem($event)"
				(onDeselected)="onDeselectItem($event)"
				[item]="pref"></app-multiple-selector-item>
			<ng-container *ngIf="databaseData.size - 1 !== i">
				<app-divider></app-divider>
			</ng-container>
		</li>
	</ul>
</ion-content>
