<ion-content [fullscreen]="true">
	<app-app-bar-clone
		(leadClicked)="leadClick()"
		href="/login"
		#appBar
		label="Registrarse"
	>
	</app-app-bar-clone>
	<div class="p-2.5 w-full h-full max-w-xs mx-auto flex flex-col gap-3 justify-between">
		<div class="flex flex-col gap-3">
			<app-stepper></app-stepper>
			<form
				class="flex flex-col gap-6">
				<app-input-text #user
					placeholder="Email"
					[type]="'email'"></app-input-text>
				<app-input-text #password
					placeholder="Password"
					[type]="'password'"></app-input-text>
				<app-input-text #confirmpassword
					[disableErrors]="true"
					placeholder="Confirmar Password"
					[type]="'password'"></app-input-text>
				<div *ngIf="checkerGroup"
					class="text-xs text-threateningRed-500 font-gotham">
					<div *ngIf="checkerGroup?.invalid && (checkerGroup?.dirty || checkerGroup?.touched)">
						<div *ngIf="checkerGroup?.errors?.['password']">
							Las contraseñas no coinciden
						</div>
					</div>
				</div>
				<app-checkbox-input #check
					errorText="Debes aceptar los terminos y condiciones"
					[activeError]="true"
					contentText="Aceptar terminos y condiciones"></app-checkbox-input>
			</form>
		</div>
		<app-filled-button (onClick)="buttonClick()"
			class="my-5"
			contentText="Continuar"></app-filled-button>
	</div>
</ion-content>
