<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ul *ngFor="let pref of preferencesList.values(); index as i" class="w-96">
    <app-user-preferences-selector-item (onSelected)="onSelectItem($event)"
      (onDeselected)="onDeselectItem($event)"
      [item]="pref"></app-user-preferences-selector-item>
    <ng-container *ngIf="preferencesList.size - 1 !== i">
      <app-divider></app-divider>
    </ng-container>
  </ul>
</ion-content>
