<ion-header [translucent]="true">
	<ion-toolbar>
		<div class="flex flex-col px-6 py-4">
			<app-map-location-input [pageKey]="pageKey"
				[isRed]="true"
				#salida
				placeholder="Salida"></app-map-location-input>
			<app-map-location-input [pageKey]="pageKey"
				[isRed]="false"
				#inicio
				placeholder="Destino"></app-map-location-input>
			<app-date-time-selector #date
				label="Fecha Inicio"></app-date-time-selector>
			<div *ngIf="distance && simulatedPrice && !loadingPrice">
				Precio estimado: {{ simulatedPrice }} por {{ distance }} km
			</div>
			<div *ngIf="!distance && !simulatedPrice && loadingPrice">
				Cargando precio estimado...
			</div>
		</div>
		<app-adaptative-button class="w-full"
			(click)="onPublish()"
			text="Publicar Viaje"
			color="bg-stone-800"
			color_hover="bg-stone-700"
			font_size="text-xl font-gotham"
			size="px-8 py-4 w-full"
			text_color="text-white"></app-adaptative-button>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div id="pmap"
		#pmap
		class="map"
		tabindex="0"></div>
</ion-content>
