<div class="p-2 rounded-md shadow-md shadow-black/50 border-indigoBlack-200 ">
  <div class="flex h-full gap-2">
    <div
      class="max-w-[70px] max-h-[70px] m-1.5 rounded-full shadow-md shadow-black/20">
      <img class="object-fill aspect-square rounded-full"
        [src]="info.driverAvatar.url"
        alt="">
    </div>
    <div class="flex flex-col m-1 justify-between">
      <div class="">Fecha viaje: {{info.date | date}}</div>
      <div class="text-base font-gotham">{{info.driverAvatar.name}}</div>
      <div>Inicio: {{info.startLocationName}} -
        Fin: {{info.endLocationName}}</div>
    </div>
  </div>
  <div class="flex justify-between items-center gap-2">

    <div class="flex items-center">
      <div *ngFor="let passenger of info.passengerUrls">
        <app-avatar-home [url]="passenger"></app-avatar-home>
      </div>
    </div>
    <div>${{info.cost}}</div>
    <button
      (click)="buttonClick($event)"
      type="button"
      class="basis-1/3 tracking-wider font-light py-0.5 inline-block w-full text-sm rounded bg-indigoBlack-500 uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] ">
      Solicitar
    </button>
  </div>
</div>
<!--<div><img src="https://exo.pet/images/banners/bet96060.gif" alt=""></div>-->
