<li (click)="onSelect($event)"
	[ngClass]="{
    'rounded-lg': selected,
    'bg-primary-50': selected,
    'text-primary-600': selected,
    }"
	class="max-w-lg flex items-center h-16">
	<div class="basis-4/5 gap-2 flex items-center">
		<ion-icon *ngIf="item.source === 'ionic'"
			class="w-8 h-8"
			[name]="item.icon"></ion-icon>
		<mat-icon *ngIf="item.source === 'angular'"
			class="w-12 h-12"
			[fontIcon]="item.icon"></mat-icon>
		<div class="text-lg">{{ item.name}}</div>
	</div>
	<ion-icon *ngIf="selected"
		class="w-12 h-12"
		name="checkmark-circle-outline"></ion-icon>
</li>
