  <li (click)="onSelect($event)"
    [ngClass]="{
    'rounded-lg': selected,
    'bg-primary-50': selected,
    'text-primary-600': selected,
    }"
    class="w-full border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 flex items-center
">
    <div class="basis-4/5 gap-2 flex items-center">
      <ion-icon class="w-12 h-12" [name]="item.icon"></ion-icon>
      <div class="text-lg">{{ item.name }}</div>
    </div>
    <ion-icon *ngIf="selected" class="w-12 h-12" name="checkmark-circle-outline"></ion-icon>
  </li>
