<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium"
        (click)="cancel()">Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Seleccion Unica</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()"
        [strong]="true">Continuar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ul
    class="flex flex-col items-center w-full">
    <li
      *ngFor="let p of dataList.values(); index as i">
      <div (click)="selectCountry(p.name)"
        class="flex justify-evenly items-center gap-4 w-80"
        [ngClass]="{
      'rounded-lg': p.selected,
      'bg-primary-50': p.selected,
      'text-primary-600': p.selected,
      }">
        <div class="basis-3/12 flex items-end justify-end">
          <img class="w-8 h-8 aspect-square object-contain"
            [src]="p.image"
            [alt]="p.name"/>
        </div>
        <div class="basis-9/12 flex items-center">
          {{ p.name }}
        </div>
      </div>
      <app-divider></app-divider>
      <div class="h-4"
        *ngIf="dataList.size - 1 === i"></div>
    </li>
  </ul>
</ion-content>
